@import "~ress/ress.css";

body{
    background-color: rgb(229, 226, 226);
}

.btn-add{
    background-color: #000;
    color: #ffffff;
    display: block;
}

.error{
    color: red;
    display: none;
}

.js-error-on{
    display: block;
}

#search, #todo{
    background-color: #fff;
}

span{
    margin: 10px;
}

.todo-lists{
    margin: 10px 10px 10px 10px;
}

.todo-item{
    margin: 10px 10px 10px 10px;
    background-color: #fff;
    & .text{
        width: 200px;
    }
}

.js-todo-end{
    background-color: rgb(229, 226, 226);
}

.js-todo-done{
    background-color: #ec5d5d;
}

.js-search-out {
    display: none;
}