@import "~ress/ress.css";

body{
    background-color: rgb(229, 226, 226);
    box-sizing: border-box;
}

main {
    width: 500px;
    height: 100%;
    margin: 10px auto;
    border: black 1px solid;
    background-color: rgb(80, 79, 79);
}

.add-input {
    margin: 30px 10px 10px 10px;
    & input {
        width: 100%;
        margin: 0;
        padding: 5px;
    }
    & .btn-add {
        margin: 5px 0 0 auto;
        padding: 5px 5px;
        background-color: #000;
        color: #ffffff;
        display: block;
    }
}

.btn:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: .5s;
}

.search-input {
    margin: 10px;
    & input {
        margin: 50px auto 10px auto;
        width: 100%;
        padding: 5px;
    }
}

.error{
    color: red;
    display: none;
}

.js-error-on{
    display: block;
}

#search, #todo{
    background-color: #fff;
}

.todo-lists{
    margin: 10px 10px;
    width: 478px;
}

.todo-item {
    margin: 10px 10px;
    background-color: #fff;
    width: 460px;
    display: inline-flex;
    justify-content: space-between;
    transition: .5s transform;
    & span {
        margin: 5px;
    }
    & .text {
        width: 400px;
        padding: 0 5px;
    }
}

.todo-item:hover{
    transform: scale(1.02);
    transition: .5s transform;
  }

.js-todo-done {
    background-color: #ec5d5d;
}

.js-search-out {
    display: none;
}